[submodule "lib/lwip"]
	path = lib/lwip
	url = https://git.savannah.gnu.org/r/lwip.git
[submodule "lib/asf4"]
	path = lib/asf4
	url = https://github.com/adafruit/asf4
[submodule "lib/axtls"]
	path = lib/axtls
	url = https://github.com/pfalcon/axtls
[submodule "lib/berkeley-db-1.xx"]
	path = lib/berkeley-db-1.xx
	url = https://github.com/pfalcon/berkeley-db-1.xx/
[submodule "lib/libffi"]
	path = lib/libffi
	url = https://github.com/atgreen/libffi/
[submodule "lib/lv_bindings"]
	path = lib/lv_bindings
	url = https://github.com/littlevgl/lv_bindings/
[submodule "lib/btstack"]
	path = lib/btstack
	url = https://github.com/bluekitchen/btstack/
[submodule "lib/mynewt-nimble"]
	path = lib/mynewt-nimble
	url = https://github.com/apache/mynewt-nimble/
[submodule "lib/nrfx"]
	path = lib/nrfx
	url = https://github.com/NordicSemiconductor/nrfx/
[submodule "lib/nxp_driver"]
	path = lib/nxp_driver
	url = https://github.com/hathach/nxp_driver/
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls/
[submodule "lib/stm32lib"]
	path = lib/stm32lib
	url = https://github.com/micropython/stm32lib/
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb/
